<%-include("header")-%>
    <div class="box" id="heading">
        <h1><%=list_type%></h1>
    </div>
    <div class="box">
            <% new_added_task.forEach((task)=>{ %> 
                <div class="items particular_div">
                  <div class="item item_text">
                    <input type="checkbox"> 
                    <p id = " "> <%=task.name%> </p>
                  </div>
                  <form action="/delete" method="post">
                      <div class="item delete_icon"> 
                        <button type="submit" name="button" value='<%=task._id%>'><i class="fa fa-trash" name="icon" onclick="this.form.submit"></i></button>
                      </div>
                      <input type="hidden" name="list_name" value= "<%=list_type%>" id="">
                  </form>
                </div>
            <% }) %>
            <form action="/" method="post" class="item">
                <input type="text" name="task" id="" placeholder="New Item" autocomplete="off">
                <button type="submit" class="button" name="btn" value=<%=list_type%>> + </button>
            </form>
    </div>
    
<%-include("footer")-%>
